/* --- ROOM --- */

#room .room-background {
	background: url(https://i.imgur.com/kbOA858.jpg) no-repeat !important;
}

#room .icon.icon-room {
	background: url(https://i.imgur.com/PNCVcNH.png);
}

.icon {
	background-image: url(https://i.imgur.com/iHVd1ij.png); 
}
